In [11]:
import pyreadr

result = pyreadr.read_r('/Users/larsheijnen/CL/data/data_pseudovalence.RData')
# Extract the first dataframe from the loaded RData file
df = next(iter(result.values()))

In [12]:
from IPython.display import display

for key, value in result.items():
    print(f"Variable name: {key}")
    display(value)

Variable name: data_fin

,Valence,predicted_val,predicted_valL,predicted_valL_BI,predicted_valDIM,predicted_valL_DIM,predicted_valBI,predicted_valBI_DIM
rownames,,,,,,,,
aardvark,6.26,6.392012,4.920180,6.410768,5.772722,5.774341,6.410768,6.392012
abalone,5.30,4.756492,5.284912,5.115389,4.728264,4.858120,5.115389,4.756492
abandon,2.84,4.260055,5.001226,5.479860,3.978241,3.987623,5.479860,4.260055
abandonment,2.63,4.196807,5.022504,5.334364,3.833330,3.828077,5.334364,4.196807
abbey,5.85,6.123953,5.147159,5.162931,6.064834,6.094675,5.162931,6.123953
...,...,...,...,...,...,...,...,...
zone,4.75,4.870006,5.407978,5.119138,5.246048,5.302681,5.119138,4.870006
zoning,4.65,4.141520,5.255865,5.085299,4.494910,4.556050,5.085299,4.141520
zoo,7.00,7.374944,5.396494,5.551119,7.720490,7.674317,5.551119,7.374944
zoom,5.86,6.155045,5.395601,5.338779,6.479694,6.570841,5.338779,6.155045
zucchini,6.30,5.864520,5.100183,5.315438,5.695355,5.727546,5.315438,5.864520

Variable name: data_2

,X,pseudoword,Value,predicted_valence,predictedL_valence,predictedL_Bi_valence,predicted_Dim_valence,predictedL_Dim_valence,predictedBi_Dim_valence,predictedBi_valence,LDist,Ortho_VAL,Semant_Neigh,SDist,Semant_VAL
0,1,abhert,0.452501,7.414814,5.116167,6.444633,6.783771,6.630497,7.414814,6.444633,2,4.655714,ordinary,0.558492,5.05
1,2,abhict,0.434171,8.233714,5.059183,6.509936,7.366068,7.377534,8.233714,6.509936,2,3.093333,cardigan,0.622202,5.95
2,3,acleat,0.527803,5.552468,5.262971,5.245826,5.268643,5.396114,5.552468,5.245826,1,4.240000,solarium,0.575150,6.10
3,4,acmure,0.604889,8.714640,5.120029,6.562896,7.680827,7.583230,7.809910,5.414532,2,5.885000,bad,0.570299,3.24
4,5,acoed,0.538990,7.340002,5.115652,5.309727,7.105662,7.024771,7.340002,5.309727,1,5.680000,girl,0.499035,7.15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1495,1496,zauze,0.501798,7.412561,5.437765,5.520862,6.893950,7.093987,7.412561,5.520862,1,4.500000,lasagna,0.550751,7.10
1496,1497,zerow,0.461897,6.505582,5.374694,6.053607,6.425640,6.548861,6.505582,6.053607,2,5.695000,varying,0.520694,5.35
1497,1498,zilk,0.548832,7.875689,5.210065,5.619146,8.311101,8.217189,7.875689,5.619146,1,6.645000,particular,0.620900,5.05
1498,1499,zohels,0.471812,4.163672,5.283933,3.894065,5.215966,5.380309,4.163672,3.894065,2,3.250000,sorcerer,0.613949,5.76
1499,1500,zokils,0.513797,4.089235,5.134843,4.418209,4.567234,4.691952,4.089235,4.418209,3,4.910476,parkinsons,0.617661,2.09

Variable name: data_3

,pseudoword,VAL2,Elo,RW,Best,Worst,Unchosen,BestWorst,ABW,David,...,predictedL_Bi_valence,predicted_Dim_valence,predictedL_Dim_valence,predictedBi_Dim_valence,predictedBi_valence,LDist,Ortho_VAL,Semant_Neigh,SDist,Semant_VAL
0,acleat,0.511226,-14.049630,0.516195,3,2,25,8.833333,0.066691,9400,...,5.245826,5.268643,5.396114,5.552468,5.245826,1,4.240000,solarium,0.575150,6.10
1,acmure,0.539304,117.178153,0.543576,9,6,15,25.500000,0.200671,62800,...,6.562896,7.680827,7.583230,7.809910,5.414532,2,5.885000,bad,0.570299,3.24
2,acraw,0.468173,-63.085202,0.462979,3,5,22,-16.166667,-0.133531,-33300,...,4.897807,8.202013,8.220112,7.968543,4.897807,2,5.044706,side,0.572060,5.32
3,adlor,0.601365,119.915944,0.603029,7,1,22,50.500000,0.405465,139500,...,4.625245,5.855695,5.899081,5.696890,4.625245,2,5.640667,act,0.589797,5.64
4,adpite,0.573363,106.951853,0.574467,7,2,21,42.166667,0.336472,103500,...,5.100143,8.216379,8.225612,8.363778,5.100143,2,6.066667,regard,0.590583,5.70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,yofi,0.501244,55.978438,0.498377,7,7,16,0.500000,0.000000,2000,...,6.184914,5.988221,6.057596,5.981624,6.184914,2,5.771429,aorta,0.594816,4.35
496,yual,0.533091,58.075010,0.533898,4,2,24,17.166667,0.133531,29200,...,5.912461,8.063999,7.967296,8.497984,5.912461,1,5.140000,natural,0.562902,6.42
497,yuxwas,0.449500,-55.215651,0.449149,1,4,25,-24.500000,-0.200671,-57500,...,7.238817,6.792709,7.006780,7.436560,5.864205,3,5.090000,be,0.648203,6.18
498,yuywas,0.536938,89.083657,0.546690,4,2,24,17.166667,0.133531,39700,...,6.931469,6.638038,6.883840,8.582977,6.931469,3,5.090000,be,0.659737,6.18
499,zohels,0.523623,64.145725,0.523975,1,0,29,8.833333,0.066691,22100,...,3.894065,5.215966,5.380309,4.163672,3.894065,2,3.250000,sorcerer,0.613949,5.76

Variable name: .Random.seed

     .Random.seed
0           10403
1             593
2      1050179519
3      2033100213
4     -1373968898
..            ...
621    -774906460
622    -415520422
623    -387287519
624    -146812344
625    -965322082

[626 rows x 1 columns]

Variable name: Count

,Word,a,b,c,d,e,f,g,h,i,...,Dim_292,Dim_293,Dim_294,Dim_295,Dim_296,Dim_297,Dim_298,Dim_299,Dim_300,Valence
0,aardvark,3,0,0,1,0,0,0,0,0,...,0.049830,-0.052880,0.019918,-0.003339,-0.005436,0.039293,-0.010782,-0.023010,0.007921,6.26
1,abalone,2,1,0,0,1,0,0,0,0,...,0.019090,-0.083532,0.024157,-0.006709,-0.005889,0.019107,0.054735,0.026275,0.026177,5.30
2,abandon,2,1,0,1,0,0,0,0,0,...,-0.018420,0.003779,0.011741,-0.012012,0.007799,-0.062272,-0.006584,-0.008598,-0.012287,2.84
3,abandonment,2,1,0,1,1,0,0,0,0,...,-0.020326,-0.040106,0.000867,-0.022475,-0.013669,0.021974,0.021332,0.021166,0.003248,2.63
4,abbey,1,2,0,0,1,0,0,0,0,...,0.077062,-0.073641,-0.014475,0.034482,-0.011150,0.028477,0.034331,0.018858,-0.047663,5.85
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13782,zone,0,0,0,0,1,0,0,0,0,...,-0.000944,-0.115327,-0.001946,-0.003298,0.093542,-0.014918,-0.061092,0.011264,0.044307,4.75
13783,zoning,0,0,0,0,0,0,1,0,1,...,-0.002498,-0.081996,-0.028606,0.011182,-0.009024,-0.007970,0.000390,-0.041535,-0.015563,4.65
13784,zoo,0,0,0,0,0,0,0,0,0,...,0.076020,-0.108031,-0.020900,0.096672,-0.012921,-0.021753,0.026442,0.094392,0.010733,7.00
13785,zoom,0,0,0,0,0,0,0,0,0,...,0.008842,-0.018222,-0.044975,-0.002390,0.058293,0.044407,-0.062197,-0.092772,-0.066515,5.86
13786,zucchini,0,0,2,0,0,0,0,1,2,...,0.032770,-0.055698,0.005906,0.019895,0.025327,0.027875,-0.007711,-0.036354,0.005857,6.30

Variable name: comb_2

        Word    Value1    Value2
0     abhert  0.473009  0.406491
1     abhict  0.375453  0.472723
2     acleat  0.583840  0.496628
3     acmure  0.607354  0.597101
4      acoed  0.526847  0.551518
...      ...       ...       ...
1495   zauze  0.496121  0.510345
1496   zerow  0.480417  0.445421
1497    zilk  0.548359  0.549063
1498  zohels  0.387072  0.579870
1499  zokils  0.491783  0.545612

[1500 rows x 3 columns]

Variable name: comb_3

       Word    Value1    Value2
0    acleat  0.493853  0.533178
1    acmure  0.578694  0.520666
2     acraw  0.506507  0.430297
3     adlor  0.598781  0.599522
4    adpite  0.598732  0.536912
..      ...       ...       ...
495    yofi  0.498569  0.502913
496    yual  0.497568  0.562296
497  yuxwas  0.487083  0.416308
498  yuywas  0.507589  0.559935
499  zohels  0.504238  0.546776

[500 rows x 3 columns]