In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('/Users/larsheijnen/CL/data/prevalence_netherlands.csv', sep='\t')
df.head()

      word  n.obs  irt.prevalence  z.irt.prevalence  prevalence  z.prevalence
0  T-shirt    324        0.986622          2.215053    0.978395      1.689888
1    aagje    303        0.907405          1.324941    0.877888      1.075808
2     aagt    324        0.169817         -0.954888    0.188272     -0.827920
3      aai    335        0.993290          2.472451    0.988060      1.794794
4  aaibaar    333        0.996284          2.676802    0.990991      1.830889